body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(187, 122, 122);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(187, 122, 122);
    font: italic 4em "Fira Sans", serif;
    font: outline;
    font-weight: bolder;
    font-style: initial;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: open;
    animation-duration: 6.5s;
    animation-delay: 6s;
    animation-fill-mode: both;
}

.splash .img {
    height: 33%;
    width: 16.50%;
    z-index: auto;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 0;
    margin-bottom: 0;
    float: left;
}

.splash::after,
.splash::before {
    content: "";
    position: absolute;
    background-color: rgb(187, 122, 122);
    height: 100%;
    width: 75%;
    z-index: 99;
    animation-name: open;
    animation-fill-mode: forwards;
    animation-duration: 4s;
}

.splash::after {
    left: 30vw;
    animation-delay: 2s;
}

.splash::before {
    left: 0;
    animation-delay: 2s;
}

@keyframes open {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}
