@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
* {
  margin: 0
}

body {
  background-color: #f5f6fa;
  font-family: 'Lato', sans-serif;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  height: calc(100vh - 10px);
  transition: all 1.1s linear;
}

.app--small {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  overflow: auto;
  flex-direction: column;
  transition: all 1.1s linear;
}

.app__header__text--type::after {
  content: '';
  border: 0.1px solid;
  animation: blink 1s infinite forwards;
  transition: all .1s linear;
}

@keyframes blink {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}

.app__toggle--margin {
  margin-right: 30px !important;
}

.dark--main {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.dark--right {
  background-color: #303030 !important;
}

.dark--right h3 {
  color: #B8B8B8 !important;
}

.dark--select {
  color: #A8A8A8 !important;
}

.dark--select svg {
  color: #A8A8A8 !important;
}

.app__left {
  margin-top: 2em;
  flex: 0.9;
}

.app__dropdown {
  background-color: white;
}

.dark--dropdown {
  background-color: #303030;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  justify-content: space-between;
}

.app__header>h1 {
  font-size: 2rem;
}

.app__header__text--color-cases {
  color: #CC1034;
}

.app__header__text--color-recovered {
  color: #7dd71d;
}

.app__header__text--color-deaths {
  color: #fb4443;
}

.app__header__text>div {
  display: inline;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__right .MuiCardContent-root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app__graph {
  margin-top: 1rem;
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 1em;
  text-transform: uppercase;
}

@media(max-width: 990px) {
  .app__left {
    margin-top: 0
  }
  .app__toggle--margin {
    padding: 8px !important;
  }
}

@media(max-width: 500px) {
  .app__header>h1 {
    font-size: 1.25em;
  }
}