.map {
  height: 40em;
  background-color: white;
  margin-top: 5em;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  transition: all 0.1s linear;
}

.dark--map {
  background-color: #222222;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.1);
}

.dark--popup .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #707070 !important;
}

.map .leaflet-container {
  height: 100%;
}

.map__circle {
  opacity: 0.5;
  animation: dot-anim linear 0.8s infinite;
}

@keyframes dot-anim {
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  81% {
    opacity: 0.5;
  }
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-name {
  font-size: 15px;
  font-weight: bold;
  color: #555;
}

.dark--name {
  color: #C8C8C8 !important;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-container {
  width: 150px;
}

.info-deaths, .info-recovered, .info-cases {
  font-size: 12px;
  margin-top: 5px;
}

.dark--deaths, .dark--recovered, .dark--cases {
  color: #C0C0C0 !important;
}

/* 
.map__recenter__button {
  z-index: 1000 !important;
  position: absolute !important;
  bottom: 0px !important;
  outline: none !important;
  background-color: rgb(255 255 255) !important;
  padding: 5px !important;
  margin: 5px !important;
  min-width: auto !important;
} */