.table {
  margin-top: 20px;
  overflow-y: scroll;
  height: 338px;
  color: #6a5d5d;
  /* background-color: white; */
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5em;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}